* {
    margin: 0;
    padding: 0;
}

.containerbody {
    background-color: #E5E5FD;
    padding: 0;
    border: 16px solid #1D1E4C;
    min-width: fit-content;
}

.container {
    background-color: #E5E5FD;
    width: 1044px;
    min-height: 1280px;

    border: 16px 0px 0px 0px;

    margin: 0px auto;

}

.uperpart {
    display: flex;
    text-align: left;
    padding: 36px 0px 0px 0px;
}

.uperpart img {
    width: 314px;
    height: 392px;

    padding: 83px 0px 0px 68px;
}

.name {
    font-family: sans-serif;
    font-size: 54px;
    font-weight: 500;
    padding: 348px 0px 48px 81px;;

}

.sname {
    display: block;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: end;

}

.middle h1 {
    font-family: sans-serif;
    font-size: 72px;
    font-weight: 500;
    line-height: 20px;
    margin: 60px 0px 35px 56px;


}

.middle p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0px 155px 0px 60px;
}


.boigrphy h3 {
    margin: 60px 0px 15px 56px;
}

.boigrphy ul {
    padding: 0px 300px 0px 85px;
}

.boigrphy li {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

footer {
    font-family: sans-serif;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 20px;
    text-align: end;
    margin: 133px 22px 0px 0px;


}

footer a {
    text-decoration: none;
    color: blue;

}